$primaryColor:#313541;
$darkPrimaryColor: #282c37;
$lightPrimaryColor:#8e9aa9;
$textColor: #e9eef3;
$componentColor:#f4f7fa;
$blue:#1ba8ed;
$green: #24b685;
$yellow: #ffcc00;
$red:#ea5a5a;
$purpose: #a57ec6;
